*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;

}

.card-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100vw;
    
}

.card img{
    display: flex;
    width: 150px;
    height: 200px;
    margin: 10px;
    border-radius: 10px;
}

.hide{
    display: none;
}

.filter{
    display: flex;
    flex: row;
}

main{
    display: flex;
    justify-content: center;
}

.info-container{
    margin-top: 2rem;
    width: 90vw;
    /* height: 300px; */
    border-radius: 5px;
    background-color: lightseagreen;
    z-index: 3;
    position: fixed;
    top: 10vh;
    opacity: 0.95;
}


.infobar{
    display: flex;
    padding: 5px;
    justify-content: space-evenly;
}

.detailed-info{
    display: flex;
    margin: 10px;
    gap: 15px;
    
}

.detailed-info img{
    width: 150px;
    height: 200px;
    border-radius: 10px;
}

